In [13]:
import pandas as pd

avg_sq_m_cost_df = pd.read_csv('cena_za_m2.csv', sep=';')
avg_surface = pd.read_csv('przec_pow_uz_mieszkania.csv', sep=';')
slownik = pd.read_csv('slownik.csv', sep=';')

In [16]:
slownik.head(10)

,rowNumber,id_zmienna,id_przekroj,id_wymiar_1,id_pozycja_1,id_wymiar_2,id_pozycja_2,id_wymiar_3,id_pozycja_3,id_wymiar_4,...,id_pozycja_9,id_okres,id_sposob_prezentacji_miara,id_daty,id_brak_wartosci,id_tajnosci,id_flaga,wartosc,precyzja,Unnamed: 29
0,1,222,1136,2,33617,734,6649916,709,8199801,NaN,...,NaN,249,180,2024,253,43,31,"20226,00000",2,NaN
1,2,222,1136,2,33617,734,6649916,709,8206516000529,NaN,...,NaN,249,180,2024,253,43,31,"3348,00000",2,NaN
2,3,222,1136,2,33617,734,6649916,709,8210547000529,NaN,...,NaN,249,180,2024,253,43,31,"75622,00000",2,NaN
3,4,222,1136,2,33617,734,6649916,709,8210555000529,NaN,...,NaN,249,180,2024,253,43,31,"236630,00000",2,NaN
4,5,222,1136,2,33617,734,6649916,709,8213072000380,NaN,...,NaN,249,180,2024,253,43,31,"62471,00000",2,NaN
5,6,222,1136,2,33617,734,6649918,709,8196758,NaN,...,NaN,249,180,2024,253,43,31,"103832,00000",2,NaN
6,7,222,1136,2,33617,734,6649918,709,8201181,NaN,...,NaN,249,180,2024,253,43,31,"3297,00000",2,NaN
7,8,222,1136,2,33617,734,6649918,709,8213463000529,NaN,...,NaN,249,180,2024,253,43,31,"108939,00000",2,NaN
8,9,222,1136,2,33617,734,6649920,709,8201403,NaN,...,NaN,249,180,2024,253,43,31,"25538,00000",2,NaN
9,10,222,1136,2,33617,734,6649920,709,8212326000095,NaN,...,NaN,249,180,2024,253,43,31,"561,00000",2,NaN